node_modules

coverage
dist
__fixtures__

.prettierrc.cjs
_meta.*.json

inject-react-import.js
vite.config.ts
tsup.config.ts
tsconfig.json
.eslintrc.cjs
tailwind.config.js
verify-node-version.cjs
commitlint.config.cjs
postcss.config.cjs
.lintstagedrc.cjs
pnpm-lock.yaml

vite-env.d.ts
renderer/shared-header.tsx

bench
README.md
