@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --cursor-color: rgb(132, 204, 22);
}

html {
    scroll-behavior: smooth;
}

::-moz-selection {
    /* Code for Firefox */
    color: #ffffff;
    background: rgb(132, 204, 22);
}

::selection {
    color: #ffffff;
    background: rgb(132, 204, 22);
}

/**
 * Mousewheel
 */
.scroll-downs {
    @apply absolute w-[24px] h-[35px] m-auto inset-0;
}
.mouse-y {
    @apply w-[3px] h-[24px] opacity-75 box-content px-2 py-1 rounded-[25px] border-2 border-solid border-zinc-400;
}
.scroller {
    @apply w-[3px] h-2.5 bg-zinc-400 rounded-[25%];
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
    animation-iteration-count: infinite;
}

@keyframes scroll {
    0% {
        opacity: 0;
    }
    10% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(15px);
        opacity: 0;
    }
}

.loader {
    @apply relative flex items-center justify-center w-full max-w-[14.6rem] my-[7.3rem] before:w-full before:shadow-[inset_0_0_0_1.7rem_#fff] before:pb-[100%] after:w-[calc(100%_-_1.7rem*2)] after:pb-[calc(100%_-_1.7rem*2)] after:shadow-[0_0_0_0_#fff];
}
.loader:before,
.loader:after {
    @apply content-[""] absolute rounded-[50%];
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    filter: drop-shadow(0 0 0.7555555556rem rgba(255, 255, 255, 0.75));
}
.loader:before {
    animation-name: pulsA;
}
.loader:after {
    animation-name: pulsB;
}

@keyframes pulsA {
    0% {
        box-shadow: inset 0 0 0 1.7rem #fff;
        opacity: 1;
    }
    50%,
    100% {
        box-shadow: inset 0 0 0 0 #fff;
        opacity: 0;
    }
}

@keyframes pulsB {
    0%,
    50% {
        box-shadow: 0 0 0 0 #fff;
        opacity: 0;
    }
    100% {
        box-shadow: 0 0 0 1.7rem #fff;
        opacity: 1;
    }
}

/**
 * hamburger
 */

.hamburger svg {
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hamburger svg path {
    transition:
        transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hamburger svg path:nth-child(1) {
    transform-origin: 36% 40%;
}
.hamburger svg path:nth-child(2) {
    stroke-dasharray: 29 299;
}
.hamburger svg path:nth-child(3) {
    transform-origin: 35% 63%;
}
.hamburger svg path:nth-child(4) {
    stroke-dasharray: 29 299;
}
.hamburger svg path:nth-child(5) {
    transform-origin: 61% 52%;
}
.hamburger svg path:nth-child(6) {
    transform-origin: 62% 52%;
}

.hamburger.is-active svg {
    transform: rotate(90deg);
}
.hamburger.is-active svg path:nth-child(1) {
    transform: translateX(9px) translateY(1px) rotate(45deg);
}
.hamburger.is-active svg path:nth-child(2) {
    stroke-dasharray: 225 299;
    stroke-dashoffset: -72px;
}
.hamburger.is-active svg path:nth-child(3) {
    transform: translateX(9px) translateY(1px) rotate(-45deg);
}
.hamburger.is-active svg path:nth-child(4) {
    stroke-dasharray: 225 299;
    stroke-dashoffset: -72px;
}
.hamburger.is-active svg path:nth-child(5) {
    transform: translateX(9px) translateY(1px) rotate(-45deg);
}
.hamburger.is-active svg path:nth-child(6) {
    transform: translateX(9px) translateY(1px) rotate(45deg);
}
